#drum-machine {
    width: 660px;
    height: 320px;
    background-color: #b3b3b3;
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 330px);
    outline: 5px solid orange;
    display: flex;
}

#section-pad {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 80px);
    padding: 30px;
}

#controls-pad {
    padding: 20px 0;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width:720px) {
    #drum-machine {
        width: 380px;
        height: 620px;
        flex-direction: column;
        position: absolute;
        top: calc(50vh - 310px);
        left: calc(50vw - 190px);
    }

    #section-pad {
        width: 100%;
        height: 50%;
    }

    #controls-pad {
        width: 100%;
        height: 50%;
    }
}

@media(max-width:500px) {
    #drum-machine {
        width: 90vw;
        height: 60vh;
        flex-direction: column;
        position: absolute;
        top: 20vh;
        left: 5vw;
    }

    #section-pad {
        padding: 2vh 7vw;
        height: 33vh;
        grid-gap: 1vh 2vw;
        grid-template-columns: repeat(3, 24vw);
        grid-template-rows: repeat(3, 9vh);
    }

    #controls-pad {
        height: 27vh;
        padding: 0 0 2vh 0;
        margin: 0;
        justify-content: space-between;
    }
}